[submodule "Huiluna/vendor/glm"]
	path = Huiluna/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Huiluna/vendor/GLFW"]
	path = Huiluna/vendor/GLFW
	url = https://github.com/Metonydai/glfw.git
[submodule "Huiluna/vendor/imgui"]
	path = Huiluna/vendor/imgui
	url = https://github.com/Metonydai/imgui.git
	branch = docking
[submodule "Huiluna/vendor/spdlog"]
	path = Huiluna/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Huiluna/vendor/yaml-cpp"]
	path = Huiluna/vendor/yaml-cpp
	url = https://github.com/thecherno/yaml-cpp
[submodule "Huiluna/vendor/ImGuizmo"]
	path = Huiluna/vendor/ImGuizmo
	url = https://github.com/Metonydai/ImGuizmo.git
